body{
    min-width: 380px;
}

.main-title{
    text-align: center;
    padding: 1.5rem 1.5rem 0rem 1.5rem;
}

.main-columns{
    border: 1px solid #000000;
    margin: 1.5rem 1.5rem 0.5rem 1.5rem;
}

.mark-cell{
    min-width: 100px;
    width: 12rem;
}

.mark-input{
    width: 40%;
    border: 1px solid #000000;
    background-color: transparent;
    border-radius: 5px;
}

.mark-div{
    border: 1px solid #000000;
    margin: 2rem 1.5rem 1.5rem 1.5rem;
}

.calc-button{
    float: right;
    margin: 0 1rem 0.5rem 1rem;
}

.disclaimer{
    margin: 1.5rem 0 0 0;
    text-align: left;
    font-size: 15px;
}

.bo_link{
    text-decoration: none;
}